
<div class="items-center p-10">
<div class="bg-admin rounded-lg p-10">
  <h1 class="text-xl font-bold pb-2">Administration Login</h1>

    <form class="inline space-y-3" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="username" class="p-2">Username</label>
        <input required id="username" formControlName="username" />
        <div *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched">
          <!-- <small *ngIf="loginForm.get('username')?.errors.required">Username is required</small> -->
        </div>
      </div>
  
      <div>
        <label for="password" class="p-2">Password</label>
        <input required id="password" type="password" formControlName="password" />
        <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
          <!-- <small *ngIf="(loginForm.get('password') as any).errors?.['required']">Password is required</small>
          <small *ngIf="loginForm.get('password')?.errors.minlength">Password must be at least 6 characters long</small> -->
        </div>
      </div>
      <div class="text-red-600" *ngIf="errorMessage !== ''">
        {{ errorMessage }}
      </div>
      <button class="mt-2 p-4 bg-adminAccent inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-800 text-gray-800" type="submit" [disabled]="loginForm.invalid || errorMessage !== ''" [ngClass]="{'bg-adminDisabled': loginForm.invalid  || errorMessage !== ''}" >Submit</button> 
      <!--  type="submit" [disabled]="loginForm?.invalid">-->
    </form>
  </div>
</div>