<header class="bg-primary">
    <div 
        class="flex-col justify-center pb-2 
        md:items-baseline md:flex md:flex-row">

        <h1 
            class="font-body text-xl text-center p-3 text-white uppercase tracking-wide font-medium 
            md:text-5xl">
            High Country Sports LLC
            <span class="font-light">|</span>
        </h1>
        <h2 
            class="font-body text-center tracking-wide pl-3 text-white 
            md:text-2xl">
            We appreciate your business, 
            <span class="italic font-semibold">shoot</span> us some more!
        </h2>

    </div>     
</header>
