<header class="bg-primary p-4">
    <div class="justify-center
                md:grid md:grid-cols-7 md:items-baseline">

        <!--column 1 for logo-->
        <app-logo class="md:mt-10"></app-logo>

        <!--Column 2 for title-->
        <h1 class="text-xl font-body text-l text-white uppercase tracking-wide font-medium 
                md:text-5xl md:col-span-3 ">
                High Country Sports LLC 
                <span class="border-r-2 pl-2"></span>
        </h1>

        <!--Column 2 for slogan-->
        <h2 class="font-body text-xl tracking-wide text-white 
                md:text-2xl md:col-span-3">
                We appreciate your business,
                <span class="italic font-semibold">shoot</span> us some more!
        </h2>
     

    </div>
</header>