<div class="p-10">
    <div class=" w-5/6 bg-admin rounded-lg p-10">
        <h1 class="text-xl font-bold pb-2">Add New Product</h1>
        <h2 class="text-lg pb-4">*** Enter text carefully as this is how it will be displayed directly onto the website
            ***</h2>
        <div class="grid grid-cols-3 gap-4">


            <form class="col-span-3 grid grid-cols-3 gap-4" [formGroup]="productForm!" (ngSubmit)="addNewProduct()">

                <!--Insert Maker-->
                <label class="font-medium " for="maker">* Maker: </label>
                <input formControlName="maker" class="col-span-2" type="text">

                <!--Insert Model-->
                <label class="font-medium " for="model">* Model: </label>
                <input formControlName="model" class="col-span-2" type="text">

                <!--Insert Price-->
                <label class="font-medium " for="price">* Price: </label>
                <div class="col-span-2"><span>$</span><input formControlName="price" class="w-5/6" type="number">
                </div>
                <label class="font-medium " for="type">* Type: </label>
                <div class="col-span-2">
                    <select formControlName="type" class="w-full">
                        <option *ngFor="let option of typeOptions" [value]="option.id">
                            {{ option.singularLabel }}
                        </option>
                    </select>
                </div>

                <label class="font-medium " for="subtype">* Subtype: </label>
                <div class="col-span-2">
                    <select formControlName="subtype" class="w-full">
                        <option *ngFor="let option of subtypeOptions" [value]="option.id">
                            {{ option.label }}
                        </option>
                    </select>
                </div>
                <!--Insert Photo-->

                <label class="font-medium " for="filename">Image:
                    <br>
                    <p class="font-normal ">
                        *** Images need to be cropped to 'square' dimensions for best display. <br>
                        *** if no image is selected a placeholder image<br>
                        will be automatical assigned...</p>
                </label>
                <input formControlName="image" class="col-span-2" type="file" id="myFile" name="filename" (change)="onImageChange($event)">

                <!--Insert Product Description-->
                <label class="font-medium " for="description">* Description: </label>
                <textarea formControlName="description" class="col-span-2 w-full" rows="4"></textarea>

                <button type="submit"
                    class="mt-2 p-4 items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-800 text-gray-800 bg-adminAccent">
                    Add New Product
                </button>
            </form>


        </div>


        <app-toast-message class="border b-2-adminAccent" *ngIf="showToast"
            [message]="toastMessage"></app-toast-message>

    </div>