
<div class="flex flex-col bg-white p-2 bordershadow-lg rounded-xl" routerLink="/product-info" [state]="product">
  <div>
    <img class="w-full h-96 border-b-2" [src]="productImage" alt="Card Image" height="200"/>
    </div>
    <div class="p-4  columns-2 md:p-5">
      <div class="text-xl font-semibold">
        {{product.maker}}
      </div>
      <div class="text-lg font-normal">
        {{ product.model }}
      </div>
      <div class="text-xl font-semibold float-right">
        {{ product.price | currency }}
      </div>
    </div>
 <!--    <div>
      <button type="button"
            class="m-2 p-4 bg-adminAccent inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-800 text-gray-800">
            Delete Product
        </button>
        <button type="button"
            class="mt-2 p-4 bg-adminAccent inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-800 text-gray-800">
            Edit Product
        </button>
      </div> -->
</div>
