<div class="flex flex-col bg-white border shadow-sm rounded-xl">
    <img class="w-full h-auto rounded-t-xl" src="https://th.bing.com/th/id/OIP.etxwmMi9Fcgx4vloMSOoRwHaG3?rs=1&pid=ImgDetMain" alt="Card Image">
    <div class="p-4 md:p-5">
      <h1 class="text-lg font-bold text-gray-800">
        Announcement Title
      </h1>
      <h2>Annoucement Subtitle</h2>
      <div class="mt-1 text-gray-500">
        Annoucement Text
      </div>
    </div>
  </div>

<!-- OLD CODE
  <mat-card class="new-annoucement-card">
    <div class="admin">
      <i (click)="deleteAnnouncement()" class="fa fa-trash"></i>
      <i  class="fa fa-edit"></i>
    </div>
  
    <mat-card-title>{{ announcement.title }}</mat-card-title>
    <mat-card-subtitle>{{ announcement.subtitle }}</mat-card-subtitle>
    <div class="text">{{ announcement.text }}</div>
    <img *ngIf="announcement.image" mat-card-image [src]="announcement.image">
  </mat-card> 
-->