<p>
    High Country Sports is your trusted source for firearms, 
    offering a wide range of guns for hunting, target shooting, 
    and home defense. We also facilitate firearm transfers for North Dakota 
    residents purchasing online. With a diverse selection of weapons and ammunition, 
    we pride ourselves on meeting all your shooting needs. 
    High Country Sports is co-owned and operated by 
    Rick Eide and Todd Hartleben.

    Rick, a western North Dakota native, has always had a deep passion
     for handguns and military firearms. He served as a Supply and Armor Specialist
      in the North Dakota National Guard and later completed police training in
       Tucson, Arizona, where he volunteered as a police officer. For over 20 years, 
       Rick owned and ran Mr. Guns in Center, North Dakota.
        In 2005, he partnered with Todd to establish High Country Sports. 
        Todd, a lifelong North Dakota resident, is an avid hunter.
</p>
