<div class="">
  <div class="flex flex-col border bg-white shadow-sm rounded-xl p-10 ">
    <page-heading title="Coming Soon..."></page-heading>
    <h1 class="text-2xl text-center">In the meantime, browse our current products or visit us in person at an upcoming
      gun show.</h1>
    <div class="self-center">
      <button class="bg-secondary p-2 m-6 rounded border border-neutral-500 w-48" routerLink="/product-page">Products</button>
      <button class="bg-secondary p-2 m-6 rounded border border-neutral-500 w-48" routerLink="/gunshows">Gun Shows</button>
    </div>
    <img class="h-96 w-96 self-center" src="comingsoon.png">
  </div>
</div>