<!--Home Page heading-->
<div class="">

    <page-heading title="Upcoming Gunshows"></page-heading>

    <div class="flex flex-col">
        <div class="">
            <div class="min-w-full inline-block align-middle md:pb-4 md:px-14">
                <div class="p-2 bg-secondary">
                    <table class="min-w-full divide-y bg-background divide-neutral-400">
                        <thead>
                            <tr class="md:text-xl md:tracking-wide bg-slider">
                                <th scope="col" class="text-start p-2 font-medium md:tracking-wide">
                                    Gun Show</th>
                                <th scope="col" class="text-start p-2 font-medium md:tracking-wide">
                                    Location</th>
                                <th scope="col" class="text-start p-2 font-medium md:tracking-wide">
                                    Date & Time</th>
                                <th scope="col" class="text-start p-2 font-medium md:tracking-wide">
                                    Details</th>

                            </tr>
                        </thead>
                        <tbody class="divide-y divide-neutral-400">
                            <tr *ngFor="let gunshow of gunshows">
                                <td class="text-start p-2 md:text-lg"> {{ gunshow.name }} </td>
                                <td class="text-start p-2 md:text-lg"> {{ gunshow.location }} </td>
                                <td class="text-start p-2 md:text-lg" [innerHTML]="gunshow.date"></td>
                                <td class="text-start p-2 md:text-lg"> <a *ngIf="gunshow.detailsLink"
                                        class="underline underline-offset-4" [href]="gunshow.detailsLink"
                                        target="_blank" rel="noopener noreferrer">Click here for more details</a> </td>

                            </tr>


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>