<!--Home Page heading-->
<div class="">

    <page-heading title="Upcoming Gunshows"></page-heading>

    <div class="md:flex md:flex-col">
        <div>
            <div class="">
                <app-toast-message class="border b-2-adminAccent" *ngIf="toastMessage != ''" [message]="toastMessage">
                </app-toast-message>
                <app-confirmation-dialog *ngIf="gunshowToDelete" [message]="deleteMessage"
                    (confirmed)="deleteGunshow($event)">
                </app-confirmation-dialog>
            </div>
            <div class="md:min-w-full md:inline-block align-middle md:pb-4 md:px-14 p-2">
                <div class="bg-white">
                    <table class="md:min-w-full divide-y bg-white divide-neutral-400">
                        <thead>
                            <tr class="md:text-xl md:tracking-wide bg-secondary font-body">
                                <th scope="col" class="text-start p-2 font-medium md:tracking-wide">
                                    Gun Show</th>
                                <th scope="col" class="text-start p-2 font-medium md:tracking-wide">
                                    Location</th>
                                <th scope="col" class="text-start p-2 font-medium md:tracking-wide">
                                    Dates & Times</th>
                                <th scope="col" class="text-start p-2 font-medium md:tracking-wide">
                                    Details</th>
                                <th *ngIf="isAdmin" scope="col" class="text-start p-2 font-medium md:tracking-wide">
                                    Admin</th>

                            </tr>
                        </thead>
                        <tbody class="divide-y divide-neutral-400">
                            <tr *ngFor="let gunshow of gunshows">
                                <td class="text-start p-2 md:text-lg"> {{ gunshow.name }} </td>
                                <td class="text-start p-2 md:text-lg"> {{ gunshow.location }} </td>
                                <td class="text-start p-2 md:text-lg" [innerHTML]="gunshow.date"></td>
                                <td class="text-start p-2 md:text-lg">
                                    <a *ngIf="gunshow.detailsLink" class="underline underline-offset-4"
                                        [href]="gunshow.detailsLink" target="_blank" rel="noopener noreferrer">
                                        Click here for more details</a>
                                </td>
                                <td *ngIf="isAdmin" class="text-start p-2 md:text-lg">

                                    <button (click)="confirmDelete( gunshow )" class="icon-button">

                                        <i class="fa fa-trash px-2"></i>
                                        Delete
                                    </button>
                                    <button [routerLink]="['/edit-gunshow', gunshow.id]" (click)="editGunshow( $event )" class="icon-button">
                                        <i class="fa fa-edit px-2"></i>
                                        Edit
                                    </button>
                                </td>

                            </tr>


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>