<!--Home Page heading-->
<page-heading title="Upcoming Gunshows"></page-heading>
<div class="flex flex-col">
    <div class="-m-1.5 overflow-x-auto">
        <div class="p-1.5 min-w-full inline-block align-middle">
            <div class="overflow-hidden">
                <table class="min-w-full divide-y divide-gray-200">
                    <thead>
                        <tr>
                            <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Gun
                                Show</th>
                            <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">
                                Location</th>
                            <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">
                                Date & Time</th>
                            <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">
                                Details</th>

                        </tr>
                    </thead>
                    <tbody class="divide-y divide-gray-200">
                        <td>West Fargo Gun Show</td>
                        <td>Red River Fairgrounds, West Fargo, ND</td>
                        <td>December 7th, 9am-5pm <br>December 8th, 9am-3pm</td>
                        <td>
                            <a href="https://gunshowtrader.com/gun-shows/west-fargo-gun-show/" target="_blank"
                                rel="noopener noreferrer">Click here for more details</a>
                        </td>
                    </tbody>
                    <tbody class="divide-y divide-gray-200">
                        <td>Bismarck Gun Show</td>
                        <td>Bismarck Civic Center, Bismarck, ND</td>
                        <td>January 18th, 9am-5pm <br>January 19th, 9am-3pm</td>
                        <td>
                            <a href="https://gunshowtrader.com/gun-shows/bismarck-gun-show/" target="_blank"
                                rel="noopener noreferrer">Click here for more details</a>
                        </td>
                    </tbody>
                    <tbody class="divide-y divide-gray-200">
                        <td>Red River Valley Gun Show</td>
                        <td>Red River Fair Grounds, West Fargo, ND</td>
                        <td>February 8th, 9am-5pm <br>February 9th, 9am-3pm</td>
                        <td>
                            <a href="https://gunshowtrader.com/gun-shows/west-fargo-gun-show/" target="_blank"
                                rel="noopener noreferrer">Click here for more details</a>
                        </td>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>