<!--HCS Square Logo-->
<div class="bg-primary p-2
        lg:flex lg:flex-row lg:place-items-baseline lg:w-full lg:px-4 lg:pt-10">
       <img src="logo.png" class="w-24 pb-2
              md:w-32 
              lg:w-128 pb-0">
       <h1 class="uppercase text-2xl font-body 
              md:text-xl
              lg:tracking-wide lg:px-10 lg:text-4xl lg:w-full">High Country Sports LLC
       </h1>
       <h2 class="font-body text-lg w-80
    lg:text-2xl lg:w-full">
              We appreciate your business,
              <span class="italic font-semibold">
                     shoot</span> us some more!
       </h2>
</div>