<!--HCS Square Logo-->
<div 
class= "bg-primary md:flex p-2
md:flex-row md:place-items-baseline">
    <img src="logo.png" 
    class="md:w-128 w-24 pb-2" >
    <h1 
    class= "uppercase text-xl font-body bold
    md:tracking-wide md:px-10 md:text-5xl"
    >High Country Sports LLC
    </h1>
    <h2 
    class="font-body text-lg w-80
    md:text-2xl md:tracking-wide">
            We appreciate your business,
            <span 
            class="italic font-semibold">
            shoot</span> us some more!
    </h2>
</div>