<div class="size-full items-center p-10">
    <div class="size-full bg-admin rounded-lg p-10">
        <h1 class="text-xl font-bold pb-2">Add New Gun Show</h1>
        <h2 class="text-lg pb-2">*** Enter text carefully as this is how it will be displayed directly onto the website
            ***</h2>
        <!--Form-->
        <div class="max-w-sm space-y-3">
            <form [formGroup]="gunshowForm" (ngSubmit)="addNewGunshow()">
                <!--Insert Gunshow Name-->
                <input formControlName="name" placeholder="Gun Show Name" required>

                <!--Insert Location-->
                <input formControlName="location" placeholder="Location" required>

                <!--Insert Product Time/Date-->
                <textarea formControlName="date" class="" rows="4" placeholder="Date/Time..." required></textarea>

                <!--Insert website link-->
                <input formControlName="detailsLink" placeholder="Website link">

                <button type="submit" [disabled]="!gunshowForm.valid"
                    class="mt-2 p-4 bg-adminAccent inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-800 text-gray-800">
                    Submit
                </button>
            </form>
            <app-toast-message *ngIf="showToast" [message]="toastMessage"></app-toast-message>
            <!--            <p>Form Value: {{ gunshowForm.value | json }}</p>
            <p>Form Status: {{ gunshowForm.status }}</p> -->
        </div>



    </div>
</div>