<div>
    <h1 class="text-lg font-bold">Add New Gun Show</h1>
    <h2> Enter text carefully as this is how it will be displayed onto the website</h2>

    <div class="max-w-sm space-y-3">
        <!--Insert Gunshow Name-->
        <input type="text" placeholder="Gun Show Name">

        <!--Insert Location-->
        <input type="text" placeholder="Location">

        <!--Insert Product Time/Date-->
        <textarea class="" rows="4" placeholder="Date/Time..."></textarea>

        <!--Insert website link-->
        <input type="text" placeholder="Website link">

    </div>
    
    <button type="button" class="py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-800 text-gray-800">
        Submit
    </button>

</div>
