<div class="p-10">
    <div class="bg-admin rounded-lg p-10">
        <h1 class="text-xl font-bold pb-2">Add New Gun Show</h1>
        <h2 class="text-lg pb-2">*** Enter text carefully as this is how it will be displayed directly onto the website
            ***</h2>
        <!--Form-->
        <div class="flex">
            <form class="grid grid-cols-2 gap-4" [formGroup]="gunshowForm" (ngSubmit)="addNewGunshow()">

                <!--Insert Gunshow Name-->
                <label class="font-medium" for="name">* Gunshow Name: </label>
                <input formControlName="name" required>

                <!--Insert Location-->
                <label class="font-medium" for="name">* Location: </label>
                <input formControlName="location" required>

                <!--Insert Time/Date-->
                <div>
                    <label class="font-medium" for="name">* Date & Times: <br></label>
                    <p>Format:
                        <br>
                        January 1: 9 am - 5 pm
                        <br>
                        \n January 2: 9 am - 3 pm
                        <br>
                        \n January 3: 9 am - 3 pm
                        <br>
                        '\n' creates a new line
                    </p>
                </div>

                <textarea formControlName="date" class="" rows="4" required></textarea>

                <!--Insert website link-->
                <label class="font-medium" for="name">* Start Date: </label>
                <input formControlName="startDate" type="date" required>

                <!--Insert website link-->
                <label class="font-medium" for="name">Webiste Link: </label>
                <input formControlName="detailsLink" placeholder="Website link">

                <div>
                    <button type="submit" [disabled]="!gunshowForm.valid"
                        class="mt-2 px-6 py-2 bg-adminAccent inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-800 text-gray-800">
                        {{ isEditing() ? 'Update Gunshow' : 'Add New Gunshow' }}

                    </button>
                </div>

                <app-toast-message class="border b-2-adminAccent" *ngIf="showToast"
                    [message]="toastMessage">
                </app-toast-message>

            </form>
        </div>
    </div>
</div>