<page-heading title="Our Products"></page-heading>

<product-navbar class="w-100" (onFilterClicked)="onFilterClicked($event)"></product-navbar>

<div class="w-100 text-center text-md lg:text-lg italic">{{ searchInformationText }}</div>

<!--Product Cards to be displayed in grid-->
<div class="justify-center m-2
lg:w-full lg:grid lg:grid-cols-4 lg:gap-4 lg:m-4">
  <div *ngFor="let product of products">
    <div class="mb-2">
      <product-card [product]="product" (deleteClicked)="handleDeleteClick($event)"></product-card>
    </div>
  </div>
</div>

<div>
  <app-confirmation-dialog *ngIf="productToDelete" [message]="deleteMessage" (confirmed)="deleteProduct($event)">
  </app-confirmation-dialog>
</div>

<div *ngIf="!products.length && filterType !== 'all'" class="w-100 text-center text-md lg:text-lg italic">No matching products were found
</div>
<div *ngIf="!products.length && filterType == 'all'" class="w-100 text-center text-md lg:text-lg italic">No products are available</div>