<!-- ========== HEADER ========== -->
<header 
  class="bg-secondary text-md p-2
  md:text-lg md:grid md:grid-cols-9"
>  

  <div class="pr-2 md:col-span-6">

    <nav class="columns-4">
      
      <div id="hs-navbar-hcail" 
        class="pb-2"
        aria-labelledby="hs-navbar-hcail-collapse">
        <div>
          <a class="text-center hover:font-medium active:font-medium md:pl-10 pl-2" routerLink="/">Home</a>
        </div>
        <div>
          <a class="text-center hover:font-medium active:font-medium" routerLink="/page-not-found">About</a>
        </div>
        <div>
          <a class="text-center hover:font-medium active:font-medium" routerLink="/product-page">Products</a>
        </div>
        <div>
          <a class="text-center hover:font-medium active:font-medium" routerLink="/gunshows">Gun Shows</a>
        </div>

      </div>
    </nav>
  </div>

  <div class="md:col-span-3 mr-2 pr-2 pl-2 md:mr-0">
    <!--Search bar-->
    <search-bar></search-bar> 
  </div>

</header>

<!-- ========== END HEADER ========== -->
