<!-- ========== HEADER ========== -->
<header 
class="bg-secondary pt-6 p-2grid grid-cols-3
md:text-lg md:px-10 md:grid md:grid-cols-9">

  <div class="col-span-3 md:col-span-6 text-md">
    <nav class="md:columns-3 uppercase underline underline-offset-4 md:tracking-wider">

      <div id="hs-navbar-hcail" class="pb-2" aria-labelledby="hs-navbar-hcail-collapse">
        <div>
          <a class="text-center hover:font-medium active:font-medium md:pl-10 pl-2" routerLink="/">Home</a>
        </div>
        <div>
          <a class="text-center hover:font-medium active:font-medium" routerLink="/product-page">Products</a>
        </div>
        <div>
          <a class="text-center hover:font-medium active:font-medium" routerLink="/gunshows">Gun Shows</a>
        </div>

      </div>
    </nav>
  </div>

  <div class="col-span-3 mr-2 pr-2 pl-2 md:mr-0">
    <!--Search bar-->
    <search-bar></search-bar>
  </div>

</header>

<!-- ========== END HEADER ========== -->