<div class="
  bg-secondary text-md p-2 lg:p-6
  lg:text-xl  lg:uppercase  lg:underline lg:underline-offset-4">
  <nav class="
    uppercase underline underline-offset-4 
    lg:columns-3 lg:tracking-wide">
    <div id="hs-navbar-hcail"aria-labelledby="hs-navbar-hcail-collapse">
      <div>
        <a class="hover:font-medium active:font-medium " routerLink="/" routerLinkActive="active">
          Home
        </a>
      </div>
      <div>
        <a class=" hover:font-medium active:font-medium" routerLink="/product-page" routerLinkActive="active">
          Products
        </a>
      </div>
      <div>
        <a class=" hover:font-medium active:font-medium" routerLink="/gunshows" routerLinkActive="active">
          Gun Shows
        </a>
      </div>
    </div>
  </nav>
</div>