<!-- ========== FOOTER ========== -->
<footer class="w-full bottom-0 bg-primary py-10 px-4 sm:px-6 lg:px-8 mx-auto">

  <div class="text-center">
    <div>
      <a class="flex-none md:text-lg text-white uppercase tracking-wider" href="#" aria-label="Brand">High Country
        Sports LLC</a>
    </div>


    <!-- <div class="mt-3 space-x-4">
      <a 
        class="fa fa-solid fa-envelope md:text-4xl inline-flex justify-center items-center gap-x-2 
        text-sm border border-transparent text-white" 
        href="mailto:rev426@gmail.com" role="button" target="_blank">
      </a>
      <a 
       class="fa fa-facebook md:text-4xl inline-flex justify-center items-center gap-x-2 text-sm
       border border-transparent text-white" 
       href="https://www.facebook.com/HighCountrySportsLlc/" role="button" target="_blank">
      </a>
    </div>
  -->

    <div class="mt-3">
      <p class="text-secondary text-xs md:text-sm">© High Country Sports LLC. 2024. All rights reserved.</p>
    </div>

  </div>
  <div>
    <a class="text-center hover:font-medium active:font-medium md:pl-10 pl-2" routerLink="/add-new-product">add new product</a>
    <a class="text-center hover:font-medium active:font-medium md:pl-10 pl-2" routerLink="/add-new-announcement">add new announcement</a>
    <a class="text-center hover:font-medium active:font-medium md:pl-10 pl-2" routerLink="/add-new-gunshow">add new Gun Show</a>

  </div>

</footer>
<!-- ========== END FOOTER ========== -->