<!-- ========== FOOTER ========== -->
<footer class="w-full bottom-0 bg-primary py-10 px-4 sm:px-6 lg:px-8 mx-auto">
  <div class="text-center">
    <div>
      <a class="flex-none md:text-lg uppercase tracking-wider" href="#" aria-label="Brand">
        High Country Sports LLC
      </a>
    </div>

    <div class="mt-3">
      <p class="text-xs md:text-sm">
        © High Country Sports LLC. 2024. All rights reserved.
      </p>
    </div>
  </div>
</footer>
<!-- ========== END FOOTER ========== -->