<!--Home Page-->

<!--image carousel-->
<app-home-slider></app-home-slider>

<div class="mt-2 border-t-8 border-[#2f3d4c]"></div>
<div class="border-t-2 border-[#4DF14A]"></div>

<page-heading class="lg:pb-4" title="Welcome to High Country Sports"></page-heading>

<div class="w-96 lg:w-full lg:grid lg:grid-cols-2 justify-items-center  lg:mx-6 lg:pt-6">

  <!--IMAGE RIGHT-->
  <div class="lg:leading-8 lg:text-lg">
    Your trusted source for firearms, ammunition, and accessories. Whether you're a hunter, target shooter, or seeking
    reliable home protection, we offer a wide range of new and pre-owned options to suit all skill levels. We also
    provide convenient firearm transfer services for North Dakota residents purchasing online, ensuring a smooth process
    from start to finish.
    <br><br>
    At High Country Sports, we focus on delivering personalized service. Our knowledgeable staff is here to help you
    find the right firearm and offer expert advice, whether you're a first-time buyer or a seasoned shooter.
    <br><br>
    Owned and operated by Rick Eide and Todd Hartleben, we are proud to be a locally-owned business with strong ties to
    the community. Visit us at a gun show and discover why High Country Sports is the go-to destination for firearm
    enthusiasts across North Dakota.
  </div>
  <img class="lg:size-3/4 lg:h-full p-2" src="gunshow.JPG" />

  <!--RICK-->
  <img class="lg:size-4/5 lg:h-auto p-2" src="RickProfile.jpg" />
  <div>
    <page-heading class="" title="Rick"></page-heading>
    <div class="justify-self-center pb-2 -mt-4 text-xl font-medium">
      <i class="fa fa-envelope"></i>
      <a href="mailto:rev426@gmail.com">
        rev426&#64;gmail.com
      </a>
    </div>
    <p class="lg:leading-8 lg:text-lg">
      Rick was born and raised in western North Dakota and has had a strong interest in handguns and military weapons
      from an early age. After high school, he served in the North Dakota National Guard as a Supply and Armor
      Specialist.
      <br><br>
      He then pursued a bachelor’s degree in mining engineering. After graduating, Rick attended the police academy in
      Tucson, Arizona, where he served as a police officer for six
      years. Following his time in law enforcement, he shifted his focus back to mining, a career path that eventually
      led him back to North Dakota.
      <br><br>
      Rick has been selling firearms since 1982, combining his passion for weapons with his extensive knowledge and
      experience.
    </p>
  </div>


  <!--TODD-->
  <div>
    <page-heading title="Todd"></page-heading>
    <div class="justify-self-center pb-2 -mt-4 text-xl font-medium">
      <i class="fa fa-envelope"></i>
      <a href="mailto:rev426@gmail.com">
        todd&#64;gmail.com
      </a>
    </div>
    <p class="lg:leading-8 lg:text-lg">Donec fringilla orci non ex tempus ullamcorper. Maecenas mi nunc, condimentum ac
      placerat et, malesuada quis nibh.
      Aliquam fringilla viverra magna, sed iaculis libero placerat ac. Praesent sed metus magna. Pellentesque nunc
      augue,
      tempus sed eleifend nec, interdum sit amet augue. Aenean laoreet et nisl quis mattis.</p>
  </div>
  <img class="lg:size-4/5 lg:h-auto p-2" src="toddProfile.JPG">


  <div class="lg:p-10 p-2"></div>



  <!--Annoucement Board-->
  <!--Annoucement board heading-->
  <!-- <h2 class=" font-body text-xl text-center pt-6 pb-2 uppercase
  md:text-3xl md:tracking-wide border-t-8 border-[#88fe04]">
 Announcements
</h2> -->

  <!-- Grid to display new announcements
<div class="grid md:grid-cols-4 gap-4 p-4 md:px-10 md:pb-6">
  <div *ngFor="let announcement of announcements">
    --Annoucement cards
    <announcement-card [announcement]="announcement"></announcement-card>
  </div>
</div> -->