<!--Home Page-->

<!--Home Page heading-->
<page-heading title="Welcome to High Country Sports"></page-heading>

<!--image carousel-->
<app-home-slider></app-home-slider>

<!--Annoucement Board-->

<!--Annoucement board heading-->
<h2 class="bg-secondary font-body text-xl text-center p-6
  md:text-3xl md:tracking-wide">
  Announcements
</h2>

<!--Grid to display new announcements-->
<div class="grid md:grid-cols-4 gap-4 p-4 md:p-10">  
  <div *ngFor="let announcement of announcements" > 
    <!--Annoucement cards-->
    <announcement-card [announcement]="announcement"></announcement-card>
  </div> 
</div>
